.flashcards-container {
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-56%, -50%);
  background-color: gainsboro;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 50rem;
}

.selected-category-text {
  margin-top: 4rem;
  text-align: center;
}

.selected-category-text span {
  color: #ff127f;
}

.user-answer-container {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 31px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.user-answer-container button:not(:last-child) {
  margin-right: 1rem;
}

.user-answer-container h4 {
  margin-right: 3rem;
}

.btn-next-question {
  position: absolute;
  right: 70px;
  top: 352px;
}

.wrapper {
  position: relative;
}

.btn-answer-selection {
  width: 7rem;
}

.question-value {
  position: absolute;
  top: 0;
}

.summary-container {
  position: absolute;
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  width: 19rem;
  background-color: white;
}

.loading {
  font-size: 7rem;
  text-align: center;
}

.btn-start-over {
  position: relative;
  top: 135px;
}
