.flashcards-container {
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-56%, -50%);
  background-color: gainsboro;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 50rem;
}
