button {
  width: 18rem;
  border-radius: 30px;
  font-weight: bold;
  border: 1px solid black;
  height: 3rem;
}

button:hover {
  cursor: pointer;
  background-color: #fec000;
  transition: 200ms;
}

button:focus {
  outline: none;
  background-color: #070600;
  color: white;
}

.btn-container {
  display: flex;
  width: 80%;
}

.btn-container button:not(:last-child) {
  margin-right: 1rem;
}

.next-btn {
  position: absolute;
  top: 350px;
  right: 7px;
}

.category-selection-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gainsboro;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 55%;
}

.category-selection-container h2 {
  margin: 0 0 4rem 0;
}
