button {
  padding: 1rem;
  width: 15rem;
  border-radius: 30px;
  font-weight: bold;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
  background-color: red;
  transition: 200ms;
}

button:focus {
  outline: none;
  background-color: green;
}

.btn-container {
  display: flex;
  width: 80%;
}

.btn-container button:not(:last-child) {
  margin-right: 1rem;
}

.next-btn {
  position: absolute;
  top: 350px;
  right: 7px;
}

.category-selection-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gainsboro;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.category-selection-container h2 {
  margin: 0 0 4rem 0;
}

.geography {
  background: center/15% url(../../assets/images/geography.svg);
  background-repeat: no-repeat;
  background-position: 14px 9px;
}

.entertainment {
  background: center/15% url(../../assets/images/entertainment.svg);
  background-repeat: no-repeat;
  background-position: 14px 9px;
}

.science {
  background: center/15% url(../../assets/images/science.svg);
  background-repeat: no-repeat;
  background-position: 14px 9px;
}

.all {
  background: center/15% url(../../assets/images/all.svg);
  background-repeat: no-repeat;
  background-position: 14px 9px;
}
